/* MAIN VARIABLES */
:root {
  --bg-color: #fff;
  --text-color: #000;
  --page-width: 45%;
  --page-font-size: 14px;
}

/* BLOCKS */

/* Page block */
.page {
  font-family: Arial, sans-serif;
  font-size: var(--page-font-size);
}

.page__inner {
  display: flex;
  justify-content: center;
  place-items: center;
  height: 100vh;
  max-width: var(--page-width);
  margin: 0 auto;
}

/* Logo block */
.logo {
  display: flex;
  place-items: center;
  padding-top: 0.5em;
}

.logo__image {
  min-width: 6em;
}

/* Link block */
.link {
  text-decoration: none;
  color: #1257d6;
}

.link:visited {
  color: #6f504f
}

.link:hover {
  color: #c00;
  transition: color 0.15s ease-out;
  cursor: pointer
}

.link:active {
  color: #430a0a;
}

/* Label block */
.label_display_none {
  display: none;
}

/* Search-form block */
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 2px;
  border-radius: 8px;
}

.search-form__input {
  width: 100%;
  min-height: 100%;
  border-radius: 6px;
  padding-left: 0.5em;
  border: 0;
  background-color: var(--bg-color);
  font-size: 1.25em;
}

.search-form__input::-webkit-search-cancel-button {
  display: none;
}

.search-form__input::placeholder {
  vertical-align: center;
}

.search-form__input:focus-visible {
  outline: none;
}

.search-form__button {
  background: transparent;
  border: 0;
  padding: 1.15em;
  font-size: 1.15em;
}

.search-form__button:hover {
  cursor: pointer;
}

.search-form_orange {
  background-color: #fdc73d;
}

/* Main text block */

.heading {
  font-weight: normal;
  font-size: 1.71em;
}

.main-text__paragraph {
  margin: 0.5em 0;
}

/* Main content's layout */
.logo {
  grid-area: logo;
}

.search {
  grid-area: bar;
}

.main-text {
  grid-area: main;
}

.services {
  grid-area: services;
}

.content__layout {
  display: grid;
  width: 100%;
  grid-template-columns: 0.15fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1.7em;
  grid-template-rows: minmax(2.5em, 0.15fr) 0.5fr 1fr;
  grid-template-areas:
    "logo bar"
    ". main"
    ". services";
}

/* Services-list block */
.services-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  column-gap: 1em;
  row-gap: 0.8em;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.item {
  list-style: none;
}

.services__icon {
  max-height: 14px;
  max-width: 14px;
}

/* Footer block */
.page__footer {
  position: fixed;
  bottom: 2%;
  width: var(--page-width);
}

/* Navbar block */
.navbar {
  display: flex;
  justify-content: flex-start;
  column-gap: 1em;
}

.navbar__link {
  font-size: 1.2em;
  color: #151515cc;
}

/* Icon block */
.icon__outer {
  display: inline-block;
  position: relative;
  top: 2px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1300px) {
  :root {
    --page-width: 65%;
  }
}

@media only screen and (max-width: 930px) {
  :root {
    --page-width: 80%;
    --page-font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --page-width: 89%;
    --page-font-size: 10px;
  }
}
